<!DOCTYPE html>
<html>
<head>

    <title>Travels Social</title>

    <base href="/">

    <link rel="icon" href="img/favicon.ico">

    <link rel="stylesheet" href="css/normalize.css"/>
    <link rel="stylesheet" href="css/layout.css"/>
    <link rel="stylesheet" href="css/theme.css"/>
    <link rel="stylesheet" href="css/main.css"/>
    <link rel="stylesheet" href="css/blog.css"/>
    <link rel="stylesheet" href="css/article.css"/>
    <link rel="stylesheet" href="css/members.css"/>
    <link rel="stylesheet" href="css/profile.css"/>

    <!--Font awesome-->
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css"/>

</head>
<body ng-controller="MainCtrl">

    <ul class="nav offcanvas-menu hidden-lg hidden-md" ng-class="{ 'offcanvas-menu-shown': offcanvasMenuIsShown }" id="offcanvas-menu">
        <li ng-class="{ active: isActive('/') }">
            <a href="/"><i class="fa fa-home visible-xs-inline-block"></i><span class="hidden-xs">Index</span></a>
        </li>
        <li ng-class="{ active: isActive('/blog') }">
            <a href="/blog"><i class="fa fa-rss visible-xs-inline-block"></i><span class="hidden-xs">Blog</span></a>
        </li>
        <li ng-class="{ active: isActive('/members') }">
            <a href="/members"><i class="fa fa-users visible-xs-inline-block"></i><span class="hidden-xs">Members</span></a>
        </li>
        <li ng-class="{ active: isActive('/hot') }">
            <a href="/hot"><i class="fa fa-fire visible-xs-inline-block"></i><span class="hidden-xs">Hot tours</span></a>
        </li>
        <li ng-class="{ active: isActive('/companies') }">
            <a href="/companies"><i class="fa fa-building visible-xs-inline-block"></i><span class="hidden-xs">Companies</span></a>
        </li>
        <li>
            <a href="#" class="offcanvas-search-link" ng-click="displayOffCanvasSearch()">
                <i class="fa fa-search visible-xs-inline-block"></i>
                <span class="hidden-xs">Search</span>
            </a>
            <div class="offcanvas-search">
                <input type="text"/>
                <i class="fa fa-search search-btn"></i>
            </div>
        </li>
    </ul>

    <div class="page-wrapper" ng-class="{ 'offcanvas-menu-shown': offcanvasMenuIsShown }">

        <!--Header template-->
        <ng-include src="'pages/header.html'"></ng-include>
        <!--Header template END-->

        <!--Main content-->
        <div class="ng-view main-container" autoscroll="true"></div>
        <!--Main content END-->

        <!--Footer template-->
        <ng-include src="'pages/footer.html'"></ng-include>
        <!--Footer template END-->

        <div class="modal-wrapper"></div>

        <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDsgb_Y6hbspK_qP1SkOnOL619j47VWCDQ">
        </script>

        <!--RequireJS-->
        <script src="lib/require.min.js" data-main="js/main.js"></script>
    </div>
</body>
</html>