/**
 * Created by chadovich_cr on 3/16/16.
 */

.sub-header .next-city {
    right: 0;
    top: -7px;
}
.sub-header .next-city img {
    margin-right: 15px;
    vertical-align: middle;
}
.sub-header .next-city > a {
    color: #1f6cb9;
}
.sub-header .next-city > a span {
     color: #a4cbec;
}
.article-banner {
    position: relative;
}
.article-banner img {
    width: 100%;
}
.article-banner .preview {
    position: absolute;
    background-color: rgba(0,0,0,0.7);
    bottom: 0;
    width: 100%;
}
.article-banner .preview h3 {
    color: #c7c7c7;
    margin: 15px 0;
}
.article-banner .preview p {
    color: #b2b2b2;
    margin: 0 0 15px;
}
.article-content {
    margin-top: 50px;
}
.article-text p {
    color: #919191;
    margin: 0 0 15px 0;
    line-height: 1.5rem;
}
.article-text h3 {
    color: #606060;
}
.article-text .like {
    background-color: #dcf3ff;
    border-radius: 3px;
    padding: 20px 12px;
}
.article-text .like .heart {
    color: #ffffff;
    float: left;
    text-align: center;
    width: 8.8%;
}
.article-text .like p {
    color: #7da9c0;
    font-size: 1.2rem;
    font-style: italic;
    float: left;
    margin: 0;
    line-height: 2rem;
    width: 91.2%;
}
.article-tags {
    margin: 30px 0 0;
    padding: 0 0 30px;
    box-shadow: 0 8px 6px -6px #f0f0f0;
}
.article-tags i {
    color: #d2d2d2;
}
.article-tags,
.article-tags a {
    color: #1f6cb9;
}
.article-comments,
.article-add-comment {
    margin-top: 40px;
}
.article-comments header {
    margin-bottom: 25px;
}
.article-add-comment header {
    margin-bottom: 15px;
}
.article-comments header i {
    color: #d2d2d2;
    float: left;
    margin-right: 15px;
}
.article-comments header h2,
.article-add-comment header h2 {
    color: #737373;
    font-weight: 500;
}
.article-comments .comment-body {
    border: 1px solid #e4e4e4;
    border-radius: 3px;
    box-shadow: 0 1px 1px 1px #e4e4e4;
    margin-top: 15px;
}
.article-comments .sub-comment {
    margin-left: 40px;
}
.article-comments .comment-body .rate-comment {
    float: right;
    padding: 8px;
}
.article-comments .comment-body .rate-comment i {
    color: #d6d6d6;
}
.article-comments .comment-body .rate-comment i:hover {
    cursor: pointer;
}
.article-comments .comment-body .rate-comment .fa-minus-square,
.article-comments .comment-body .rate-comment .fa-plus-square {
    font-size: 1.1rem;
}
.article-comments .comment-body .rate-comment .positive {
    color: #60c511;
    vertical-align: baseline;
}
.article-comments .comment-body .rate-comment .negative {
    color: #cc2511;
    vertical-align: baseline;
}
.article-comments .comment-body:hover .rate-comment .fa-plus-square {
    color: #60c511;
}
.article-comments .comment-body:hover .rate-comment .fa-minus-square {
    color: #cc2511;
}
.article-comments .comment-body .author {
    padding: 6px;
}
.article-comments .comment-body .author-name {
    color: #a3a3a3;
    margin-top: 5px;
}
.article-comments .comment-body .author-name > a {
    color: #1f6cb9;
}
.article-comments .comment-body .author img {
    float: left;
    margin: 0 10px 0 0;
}
.article-comments .comment-body .author-rating {
    color: #d6d6d6;
}
.article-comments .comment-text p {
    color: #919191;
    padding: 6px 10px;
    line-height: 1.5rem;
    margin: 0;
}
.article-comments .reply {
    padding: 0 10px 10px;
    color: #1f6cb9;
    overflow: auto;
}
.article-comments .reply > span {
    float: right;
}
.article-add-comment .form {
    background-color: #EBF6FF;
    background-image: -ms-linear-gradient(top, #EBF6FF 0%, #DCF1FF 100%);
    background-image: -moz-linear-gradient(top, #EBF6FF 0%, #DCF1FF 100%);
    background-image: -o-linear-gradient(top, #EBF6FF 0%, #DCF1FF 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #EBF6FF), color-stop(100, #DCF1FF));
    background-image: -webkit-linear-gradient(top, #EBF6FF 0%, #DCF1FF 100%);
    background-image: linear-gradient(to bottom, #EBF6FF 0%, #DCF1FF 100%);
    border-top: 1px solid #d7eeff;
    border-radius: 4px;
    padding: 15px;
    position: relative;
}
.article-add-comment .form:before {
    content: '';
    position: absolute;
    top: -8px;
    left: 8%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 7px 8px 7px;
    border-color: transparent transparent #ebf6ff transparent;
}
.article-add-comment .form textarea {
    height: auto;
    resize: vertical;
}
.article-content .author-card {
    background: url("../img/header-bg.png") repeat;
    border-radius: 5px;
    padding: 10px;
}
.article-content .author-card .author img {
    float: left;
    margin-right: 12px;
}
.article-content .author-card .author .author-name {
    color: #98bed0;
    margin: 0;
}
.article-content .author-card .author .author-name > a {
    color: #ffffff;
}
.article-content .author-card .author .author-rating {
    color: #052444;
}
.article-content .author-card .author-stat {
    margin: 20px 0;
}
.article-content .author-card .author-stat p {
    color: #98bed0;
    margin: 0 0 10px;
}
.article-content .author-card .author-stat span {
    color: #ffffff;
}


/**
 * Media queries
 */

@media (max-width: 767px) {
    .article-banner .preview {
        position: static;
    }
    .article-content aside {
        margin-top: 25px;
    }
    .article-text .like .heart {
        width: 15%;
    }
    .article-text .like p {
        width: 85%;
    }
}
@media (min-width: 768px) {
    .sub-header .next-city {
        clear: both;
        margin-top: 15px;
        position: static;
    }
    .article-content aside {
        margin-top: 25px;
    }
}
@media (min-width: 992px) {
    .sub-header .next-city {
        clear: none;
        margin-top: 0;
        position: absolute;
    }
    .article-content aside {
        margin-top: 0;
    }
}
@media (min-width: 1200px) {

}