.blog-content {
    margin-top: 25px;
}
.blog-banner img {
    max-width: 100%;
    width: 100%;
}
.blog-item {
    background-color: #ffffff;
    border: 1px solid #e4e4e4;
    border-radius: 3px;
    box-shadow: 0 2px 3px 0 #e4e4e4;
    margin-bottom: 17px;
    position: relative;
}
.blog-item > *:not(.additional-info):hover {
    cursor: pointer;
}
.blog-item .img {
    padding: 4px 4px 0;
}
.blog-item .img img {
    width: 100%;
}
.blog-item .info {
    padding: 15px 12px;
}
.blog-item .title {
    margin: 0;
    color: #1f6cb9;
}
.blog-item .info p {
    margin: 10px 0 0;
    color: #a3a3a3;
    line-height: 1.2rem;
}
.blog-item hr {
    border: 0;
    border-bottom: 1px solid #f5f5f5;
    margin: 0;
}
.blog-item .actions {
    color: #a3a3a3;
    padding: 10px 12px;
}
.blog-item .actions .views {
    float: left;
}
.blog-item .actions .comments {
    float: right;
}
.blog-item .actions .comments span {
    color: #1f6cb9;
}
.blog-item .additional-info {
    display: none;
    border-top: 1px solid #e4e4e4;
    border-right: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    border-left: 1px solid #ececec;
    box-shadow: 0 2px 3px 0 #e4e4e4;
    border-radius: 0 3px 3px 0;
    position: absolute;
    top: -1px;
    bottom: -1px;
    margin-left: -1px;
    left: 100%;
    width: 100%;
    z-index: 2;
}
.blog-item .additional-info .read-more {
    background-color: #f5f5f5;
    border-bottom: 1px solid #e7e7e7;
    padding: 12px;
    position: relative;
    height: 75%;
}
.blog-item .additional-info p {
    color: #929292;
    font-size: 0.9rem;
    margin: 0;
    line-height: 1.2rem;
}
.blog-item .additional-info .read-more-btn {
    position: absolute;
    left: 15px;
    bottom: 15px;
}
.blog-item .additional-info .author {
    background-color: #fbfbfb;
    font-size: 0.8rem;
    padding: 20px 12px;
    height: 25%;
}

.blog-content aside .header h2 {
    color: #031d42;
    font-size: 1.6rem;
    font-weight: 500;
    margin: 0 0 25px;
}
.blog-content .categories {
    margin-bottom: 30px;
}
.blog-content .categories .content ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.blog-content .categories .content ul > li + li {
    margin-top: 25px;
}
.blog-content .categories .content ul li a {
    color: #1f6cb9;
}
.blog-content .most-commented .comment-counter > div {
    background-color: #d2d2d2;
    border-radius: 4px;
    color: #ffffff;
    display: inline-block;
    padding: 10px 8px;
    position: relative;
}
.blog-content .most-commented .comment-item:hover .comment-counter > div {
    background-color: #9dcd10;
}
.blog-content .most-commented .comment-counter > div:after {
    border-style: solid;
    border-width: 10px 10px 0 0;
    border-color: #d2d2d2 transparent transparent transparent;
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    top: 100%;
    margin-left: -10px;
    height: 0;
    width: 0;
}
.blog-content .most-commented .comment-item:hover .comment-counter > div:after {
    border-color: #9dcd10 transparent transparent transparent;
}
.blog-content aside .comment-topic .title {
    color: #1f6cb9;
    font-size: 0.85rem;
    font-weight: 500;
    margin: 0 0 10px;
}
.blog-content aside .comment-topic .date {
    color: #cccccc;
    font-size: 0.85rem;
}
.blog-content .most-commented .content > div + div:before {
    content: '';
    display: block;
    background-color: #f1f1f1;
    margin: 15px 0;
    height: 1px;
    width: 100%;
}
.blog-modal-wrapper {
    background-color: transparent;
    bottom: 0;
    display: none;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1;
}

/**
 * Media queries
 */

@media (max-width: 767px) {
    .blog-item .additional-info,
    .blog-item .additional-info .read-more-btn {
        position: static;
    }
    .blog-item .additional-info p {
        margin: 0 0 15px;
    }
}
@media (min-width: 768px) {
    .blog-item .actions .views {
        margin-bottom: 10px;
    }
    .blog-item .actions .comments {
        float: none;
        clear: both;
    }
}
@media (min-width: 992px) {

}
@media (min-width: 1200px) {

}