/**
 * Created by chadovich_cr on 3/10/16.
 */

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak { 
  display: none; 
}
body {
    font-size: 14px;
    font-family: Arial, sans-serif;
}
a {
    background-color: transparent;
    text-decoration: none;
}
.page-header  {
    background: url("../img/header-bg.png") repeat;
    position: relative;
}
.main-page {
    height: 430px;
}
.page-header  > .container {
    height: 100%;
    position: relative;
}
.page-header  nav {
    text-align: center;
    height: 94px;
    padding: 30px 0;
}
.page-header  nav > *,
footer nav > * {
    display: inline-block;
}
.page-header  .logo,
footer .logo {
    float: left;
}
.page-header  .logo a {
    font-size: 1.42rem;
}
.page-header  .logo a span {
    background: -webkit-linear-gradient(#FEFFFF, #D8F3FF);
    font-weight: 100;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.page-header  .logo a span:nth-child(2){
    font-weight: 900;
}
.page-header  .logo img,
footer .logo img {
    vertical-align: middle;
}
.page-header  .header-search {
    float: right;
    position: relative;
}
.page-header  ul.nav,
footer ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.page-header  ul.nav li,
footer ul.nav li {
    display: inline-block;
}
.page-header  ul.nav li a {
    color: #baddff;
    display: block;
    font-weight: 500;
    padding: 7px 15px;
    text-decoration: none;
}
.page-header  ul.nav li a:hover,
.page-header  ul.nav .active a {
    color: #e9e9eb;
    background-color: #001639;
    border-radius: 20px;
}
.page-header .header-search input {
    background-color: transparent;
    border: 2px solid #02122d;
    border-radius: 20px;
    color: #ffffff;
    padding: 11px;
    height: 32px;
    outline: none;
}

.page-header .header-search input::-webkit-input-placeholder {color:#244779; font-style: italic;}
.page-header .header-search input::-moz-placeholder          {color:#244779; font-style: italic;}/* Firefox 19+ */
.page-header .header-search input:-moz-placeholder           {color:#244779; font-style: italic;}/* Firefox 18- */
.page-header .header-search input:-ms-input-placeholder      {color:#244779; font-style: italic;}

.page-header .header-search .search-btn:hover {
    cursor: pointer;
    color: #fff;
}
.page-header .header-search .search-btn {
    color: #244779;
    position: absolute;
    top: 50%;
    right: 0;
    margin: -7px 14px 0 0;
}
.page-header .slogan {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin-top: -75px;
    text-align: center;
}
.page-header .slogan h1 {
    color: #f3f5f5;
}
.page-header .slogan p {
    color: #5680af;
}
.account-action {
    position: relative;
}
.btn-login,
.btn-register {
    position: relative;
}
.btn-login {
    float: right;
}
.btn-register {
    float: left;
}

.google-map {
    height: 820px;
    width: 100%;
}

footer {

}
footer nav {
    text-align: center;
    padding: 10px 0;
    overflow: auto;
}
footer .logo a {
    font-size: 0.85rem;
    vertical-align: sub;
}
footer .logo a span {
    color: #cfcfcf;
    font-weight: 100;
}
footer .logo a span:nth-child(2){
    font-weight: 900;
}
footer .scroll-top {
    float: right;
}
footer .scroll-top a {
    color: #cfcfcf;
    display: inline-block;
    border: 3px solid #cfcfcf;
    border-radius: 50%;
    padding: 5px;
}
footer ul li a {
    color: #9b9b9b;
    display: block;
    font-weight: 500;
    padding: 7px 15px;
    text-decoration: none;
}
footer ul li a:hover,
footer ul .active a {
    color: #f9f9f9;
    background-color: #cfcfcf;
    border-radius: 20px;
}

.login-pop-up {
    display: none;
    position: absolute;
    z-index: 2;
    right: 10px;
    top: 50px;
    text-align: left;
    margin-right: -110px;
    height: 225px;
    width: 330px;
    box-shadow: 0 0 10px #000000;
    border-radius: 5px;
}
.login-pop-up:before,
.authorization-pop-up:before {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    bottom: 100%;
    margin-left: -2.5px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 5px 5px 5px;
    border-color: transparent transparent #fff transparent;
}
.login-form {
    background-color: #ECF9FF;
    background-image: -ms-linear-gradient(top, #ffffff 0%, #ECF9FF 100%);
    background-image: -moz-linear-gradient(top, #ffffff 0%, #ECF9FF 100%);
    background-image: -o-linear-gradient(top, #ffffff 0%, #ECF9FF 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff), color-stop(100, #ECF9FF));
    background-image: -webkit-linear-gradient(top, #ffffff 0%, #ECF9FF 100%);
    background-image: linear-gradient(to bottom, #ffffff 0%, #ECF9FF 100%);
    border-bottom: 1px solid #b5e0f6;
    border-radius: 5px 5px 0 0;
    padding: 15px 0;
    height: 155px;
}
.login-form .theme-label,
.authorization-pop-up form > div:first-child .theme-label {
    text-align: right;
}
.login-form .remember-user {
    visibility: hidden;
    height: 0;
    width: 0;
}
.login-form .remember-user-label {
    border: 1px solid #aed1e9;
    border-radius: 2px;
    background-color: #f9fdff;
    display: inline-block;
    height: 15px;
    padding: 0;
    width: 15px;
    position: relative;
    vertical-align: baseline;
}
.login-form .remember-user:checked + .remember-user-label:before,
.login-form .remember-user:checked + .remember-user-label:after {
    content: '';
    display: block;
    background-color: #67C1FF;
    width: 1px;
    height: 13px;
    position: absolute;
    left: 6px;
    bottom: 0;
}
.login-form .remember-user:checked + .remember-user-label:before {
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
}
.login-form .remember-user:checked + .remember-user-label:after {
    -ms-transform: rotate(135deg); /* IE 9 */
    -webkit-transform: rotate(135deg); /* Chrome, Safari, Opera */
    transform: rotate(135deg);
}
.login-form label span {
    font-size: 0.8rem;
}
.social-authorization {
    background-color: #CFEFFF;
    background-image: -ms-linear-gradient(top, #dbf4ff 0%, #CFEFFF 100%);
    background-image: -moz-linear-gradient(top, #dbf4ff 0%, #CFEFFF 100%);
    background-image: -o-linear-gradient(top, #dbf4ff 0%, #CFEFFF 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #dbf4ff), color-stop(100, #CFEFFF));
    background-image: -webkit-linear-gradient(top, #dbf4ff 0%, #CFEFFF 100%);
    background-image: linear-gradient(to bottom, #dbf4ff 0%, #CFEFFF 100%);
    border-radius: 0 0 5px 5px;
    padding: 15px 0;
    height: 70px;
}
.login-form button {
    float: right;
}
.social-authorization p {
    margin: 0 0 10px;
}
.social-authorization-icons > a {
    display: inline-block;
}
.social-authorization-icons > a + a {
    margin-left: 10px;
}

.authorization-pop-up {
    display: none;
    background-color: #ECF9FF;
    position: absolute;
    z-index: 2;
    left: 0;
    top: 50px;
    text-align: left;
    margin-left: -120px;
    width: 400px;
    box-shadow: 0 0 10px #000000;
    border-radius: 5px;
    padding: 15px 0;
}
.authorization-pop-up .badge {
    margin-bottom: 15px;
}
.authorization-pop-up .badge input[type='checkbox'] {
    display: none;
    visibility: hidden;
    height: 0;
    width: 0;
}
.authorization-pop-up .badge label:hover {
    cursor: pointer;
    background-color: #5f9b00;
}
.authorization-pop-up .badge input[type='checkbox']:checked + label {
    background-color: #a5d714;
}
.authorization-pop-up .authorization-form {
    max-height: 370px;
    overflow: hidden;
}
.authorization-pop-up .authorization-form .first-step {
    height: 370px;
    overflow: hidden;
    -webkit-transition: height 1s;
    -moz-transition: height 1s;
    -ms-transition: height 1s;
    -o-transition: height 1s;
    transition: height 1s;
}

.authorization-pop-up .authorization-form textarea {
    height: auto;
    resize: none;
}

.header-authorization,
.header-user-profile,
.header-user-logout {
    float: right;
    margin-left: 10px;
}
.authorization-btn {
    display: inline-block;
}

/*
 * Offcanvas sidebar
 */

.page-wrapper {
    float: right;
    min-width: 240px;
    width: 100%;
    transition: width 0.3s ease;
}
.page-wrapper.offcanvas-menu-shown {
    width: 80%;
}

.burger-menu {
    float: right;
    margin-left: 15px;
    height: 100%;
}
.burger-menu .open-menu,
.burger-menu .close-menu {
    display: inline-block;
    padding: 9px 10px;
    background-color: #001639;
    border: 1px solid #e9e9eb;
    border-radius: 5px;
    outline: none;
}
.burger-menu .open-menu.offcanvas-menu-shown {
    display: none;
}
.burger-menu .close-menu.offcanvas-menu-shown {
    display: inline-block;
}
.burger-menu a span {
    display: block;
    height: 3px;
    width: 20px;
    background-color: #e9e9eb;
}
.burger-menu a > span + span {
    margin-top: 3px;
}

.burger-menu .close-menu {
    display: none;
}

.offcanvas-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #001639;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    transition: width 0.3s ease;
    z-index: 2;
}
.offcanvas-menu li {
    margin: 10px;
    position: relative;
}
.offcanvas-menu li a {
    font-size: 1.2rem;
    color: #e9e9eb;
    display: block;
    margin-bottom: 15px;
    padding: 10px;
    text-align: center;
}
.offcanvas-menu > li > a:focus,
.offcanvas-menu > li > a:hover,
.offcanvas-menu > .active > a {
    background-color: #ffffff;
    color: #001639;
    border-radius: 5px;
}
.offcanvas-menu.offcanvas-menu-shown {
    width: 20%;
}
.offcanvas-search {
    color: #001639;
    position: absolute;
    top: 0;
    left: 100%;
    padding: 10px 40px 10px 20px;
    background-color: #001639;
    border-radius: 0 5px 5px 0;
    width: 0;
    visibility: visible;
    opacity: 0;
    transition: all .3s linear;
}
.offcanvas-search input {
    width: 100%;
}
.offcanvas-search .search-btn {
    position: absolute;
    top: 14px;
    right: 12px;
    color: #ffffff;
}
.offcanvas-search.visible {
    opacity: 1;
    visibility: visible;
    width: 250px;
}

/**
 * Media queries
 */

@media (max-width: 767px) {
    .btn-login,
    .btn-register {
        float: none;
        margin-bottom: 10px;
    }
    .google-map {
        height: 370px;
    }
    .page-header .header-search input {
        width: 150px;
    }
    .page-header .slogan h1 {
        font-size: 1.5rem;
    }
    .burger-menu {
        margin-left: 12px;
    }
    .login-pop-up {
        right: 50%;
        margin-right: -135px;
        width: 280px;
    }
    .login-form {
        height: inherit;
    }
    .authorization-btn {
        font-size: 1rem;
        padding: 8px 10px;
    }
    .authorization-pop-up {
        left: 50%;
        margin-left: -140px;
        width: 280px;
    }
}
@media (min-width: 768px) {

}
@media (min-width: 992px) {

}
@media (min-width: 1200px) {
    .header-authorization {
        margin-left: 30px;
    }
}