/**
 * Created by chadovich_cr on 3/17/16.
 */
@keyframes members-list-animate {
    0%   {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.members-list {
    border-top: 1px solid #e3e3e3;
    list-style-type: none;
}
.members-list > li {
    animation: members-list-animate .5s;
    padding: 12px 0;
    position: relative;
}
.members-list > li:nth-child(odd) {
    background-color: #ffffff;
}
.members-list > li:nth-child(even) {
    border-top: 1px solid #e5f5ff;
    border-bottom: 1px solid #e5f5ff;
    background-color: #f9fdff;
}
.members-list .follow {
    text-align: right;
}

.members-list .actions {
    margin-top: 8px;
}
.member-popup {
    background-color: #ffffff;
    border-top: 1px solid #e4e4e4;
    display: none;
    position: absolute;
    padding: 18px 2px 0;
    top: 100%;
    width: 100%;
    z-index: 2;
}
.member-popup header h3 {
    font-weight: 500;
    margin: 0 0 15px;
}
.member-popup .about .text {
    color: #8d8d8d;
    line-height: 1.2rem;
    margin: 0 0 30px;
}
.member-map {
    height: 300px;
    width: 100%;
}
.get-in-profile {
    position: absolute;
    left: 0;
    top: 101%;
}

.member-like:hover,
.member-send-message:hover {
    cursor: pointer;
}

/**
 * Media queries
 */

@media (max-width: 767px) {
    .member-address, .member-send-message, .member-like, .members-list .follow {
        text-align: left;
        margin-top: 10px;
    }
    .members-list .actions {
        margin-left: -10px;
        margin-right: -10px;
    }
}
@media (min-width: 768px) {
    .member-address, .member-send-message, .member-like {
        text-align: right;
        margin-top: 10px;
    }
}
@media (min-width: 992px) {
    .member-address, .member-send-message, .member-like {
        text-align: center;
        margin-top: 0;
    }
}
@media (min-width: 1200px) {

}