/**
 * Created by chadovich_cr on 3/18/16.
 */
.member-profile {
    margin-top: 25px;
}
.member-profile header {
    padding: 1px;
}
.member-profile header h2 {
    color: #031d42;
    font-weight: 500;
    float: left;
    margin: 0 10px 30px 0;
}
.member-profile header .rating {
    color: #d6d6d6;
    margin-top: 5px;
}
.member-profile header h3 {
    font-weight: 500;
    margin: 0 0 20px;
}
.member-profile .actions {
    margin-bottom: 30px;
}
.member-profile .about .text {
    color: #8d8d8d;
    line-height: 1.2rem;
    margin: 0 0 30px;
}
.member-profile .tweet {
    padding: 15px 12px;
    background-color: #595959;
    border-radius: 7px;
    border-top: 1px solid #4e4e4e;
    margin-bottom: 50px;
}
.member-profile .tweet .fa-twitter {
    color: #efefef;
}
.member-profile .twitter-text {
    line-height: 1.2rem;
}
.member-profile-stat {
    border-top: 1px solid #e4e4e4;
    margin-top: 15px;
}
.member-profile-stat header {
    padding: 12px 0 15px;
}
.member-profile-stat header h3 {
    color: #031d42;
    font-weight: 500;
    margin: 0;
}
.member-profile-stat .stat-data > div {
    min-height: 65px;
}
.member-profile-stat .stat-data > div + div {
    border-left: 1px solid #e4e4e4;
}
.member-profile-stat header span {
    color: #a7c0d0;
    font-size: 0.8rem;
}
.member-profile-map {
    position: relative;
}
.member-profile-map header {
    background-color: rgba(0,0,0,0.7);
    border-top: 1px solid #2b2922;
    border-bottom: 1px solid #2b2922;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}
.member-profile-map header h3 {
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: 500;
    margin: 10px 0;
}
.member-profile-map-wrapper {
    height: 760px;
}

/**
 * Media queries
 */

@media (max-width: 767px) {
    .member-profile header h2 {
        float: none;
        margin: 5px 10px 10px 0;
    }
}
@media (min-width: 768px) {

}
@media (min-width: 992px) {

}
@media (min-width: 1200px) {

}