/**
 * Created by chadovich_cr on 3/11/16.
 */

.main-container {
    min-height: calc(100vh - 291px);
}
.btn {
    outline: none;
    font-weight: 600;
}
.btn-primary {
    color: #ffffff;
    border: 1px solid #07224e;
    border-radius: 5px;
    text-shadow: 0 -0.5px 1px #0745a0;
    background-color: #287CD1;
    background-image: -ms-linear-gradient(top, #287CD1 0%, #1E68B2 100%);
    background-image: -moz-linear-gradient(top, #287CD1 0%, #1E68B2 100%);
    background-image: -o-linear-gradient(top, #287CD1 0%, #1E68B2 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #287CD1), color-stop(100, #1E68B2));
    background-image: -webkit-linear-gradient(top, #287CD1 0%, #1E68B2 100%);
    background-image: linear-gradient(to bottom, #287CD1 0%, #1E68B2 100%);
    box-shadow: inset 0 1px 0 0 #3e8cd7;
    padding: 8px 30px;
}
.btn-primary:hover {
    box-shadow: inset 0 1px 0 0 #20a5e9;
    background-color: #0898e5;
    background-image: -ms-linear-gradient(top, #0898e5 0%, #018ED4 100%);
    background-image: -moz-linear-gradient(top, #0898e5 0%, #018ED4 100%);
    background-image: -o-linear-gradient(top, #0898e5 0%, #018ED4 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #0898e5), color-stop(100, #018ED4));
    background-image: -webkit-linear-gradient(top, #0898e5 0%, #018ED4 100%);
    background-image: linear-gradient(to bottom, #0898e5 0%, #018ED4 100%);
}
.btn-primary:active,
.btn-primary-active {
    box-shadow: inset 0 1px 0 0 #1457a2;
    background-color: #1e68b2;
    background-image: -ms-linear-gradient(top, #1e68b2 0%, #287CD1 100%);
    background-image: -moz-linear-gradient(top, #1e68b2 0%, #287CD1 100%);
    background-image: -o-linear-gradient(top, #1e68b2 0%, #287CD1 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #1e68b2), color-stop(100, #287CD1));
    background-image: -webkit-linear-gradient(top, #1e68b2 0%, #287CD1 100%);
    background-image: linear-gradient(to bottom, #1e68b2 0%, #287CD1 100%);
}
.btn-success {
    color: #ffffff;
    border: 1px solid #759d05;
    border-radius: 5px;
    text-shadow: 0 -0.5px 1px #5f9b00;
    background-color: #a5d714;
    background-image: -ms-linear-gradient(top, #a5d714 0%, #7FAB02 100%);
    background-image: -moz-linear-gradient(top, #a5d714 0%, #7FAB02 100%);
    background-image: -o-linear-gradient(top, #a5d714 0%, #7FAB02 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #a5d714), color-stop(100, #7FAB02));
    background-image: -webkit-linear-gradient(top, #a5d714 0%, #7FAB02 100%);
    background-image: linear-gradient(to bottom, #a5d714 0%, #7FAB02 100%);
    box-shadow: inset 0 1px 0 0 #cee949;
    padding: 8px 27px;
}
.btn-success:hover {
    color: #5e8200;
    box-shadow: inset 0 1px 0 0 #ddf324;
    background-color: #c0eb00;
    text-shadow: none;
    background-image: -ms-linear-gradient(top, #c0eb00 0%, #AFD800 100%);
    background-image: -moz-linear-gradient(top, #c0eb00 0%, #AFD800 100%);
    background-image: -o-linear-gradient(top, #c0eb00 0%, #AFD800 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #c0eb00), color-stop(100, #AFD800));
    background-image: -webkit-linear-gradient(top, #c0eb00 0%, #AFD800 100%);
    background-image: linear-gradient(to bottom, #c0eb00 0%, #AFD800 100%);
}
.btn-success:active {
    color: #ffffff;
    box-shadow: inset 0 1px 0 0 #5e9e00;
    background-color: #7fab02;
    background-image: -ms-linear-gradient(top, #7fab02 0%, #A5D714 100%);
    background-image: -moz-linear-gradient(top, #7fab02 0%, #A5D714 100%);
    background-image: -o-linear-gradient(top, #7fab02 0%, #A5D714 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #7fab02), color-stop(100, #A5D714));
    background-image: -webkit-linear-gradient(top, #7fab02 0%, #A5D714 100%);
    background-image: linear-gradient(to bottom, #7fab02 0%, #A5D714 100%);
}
.btn-hot {
    color: #ffffff;
    background-color: #ffd040;
    background-image: -ms-linear-gradient(top, #ffd040 0%, #EC5600 100%);
    background-image: -moz-linear-gradient(top, #ffd040 0%, #EC5600 100%);
    background-image: -o-linear-gradient(top, #ffd040 0%, #EC5600 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffd040), color-stop(100, #EC5600));
    background-image: -webkit-linear-gradient(top, #ffd040 0%, #EC5600 100%);
    background-image: linear-gradient(to bottom, #ffd040 0%, #EC5600 100%);
    border: 1px solid #ffffff;
    border-radius: 4px;
    padding: 7px 22px;
    text-shadow: 0 -0.5px 1px #ff7900;
    box-shadow: inset 0 1px 0 0 #ffd040, 0 0 1px 1px #ddecf8;
}
.btn-hot:hover {
    color: #ffffff;
    background-color: #ffe179;
    background-image: -ms-linear-gradient(top, #ffe179 0%, #F58700 100%);
    background-image: -moz-linear-gradient(top, #ffe179 0%, #F58700 100%);
    background-image: -o-linear-gradient(top, #ffe179 0%, #F58700 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffe179), color-stop(100, #F58700));
    background-image: -webkit-linear-gradient(top, #ffe179 0%, #F58700 100%);
    background-image: linear-gradient(to bottom, #ffe179 0%, #F58700 100%);
    border-radius: 4px;
    padding: 7px 22px;
    text-shadow: 0 -0.5px 1px #ff7900;
    box-shadow: inset 0 1px 0 0 #ffe179;
}
.btn-hot:active {
    color: #ffffff;
    background-color: #ec5600;
    background-image: -ms-linear-gradient(top, #ec5600 0%, #FFA416 100%);
    background-image: -moz-linear-gradient(top, #ec5600 0%, #FFA416 100%);
    background-image: -o-linear-gradient(top, #ec5600 0%, #FFA416 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ec5600), color-stop(100, #FFA416));
    background-image: -webkit-linear-gradient(top, #ec5600 0%, #FFA416 100%);
    background-image: linear-gradient(to bottom, #ec5600 0%, #FFA416 100%);
    border-radius: 4px;
    padding: 7px 22px;
    text-shadow: 0 -0.5px 1px #ff7900;
    box-shadow: inset 0 1px 0 0 #c82300;
}
.modal-wrapper {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
}
.theme-label {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
}
.theme-label label {
    color: #4c7f9e;
    display: inline-block;
    max-width: 100%;
    font-weight: 600;
    padding: 8px 0 0;
    margin-bottom: 15px;
}
.sub-header {
    padding: 21px 0;
}
.sub-header > div {
    position: relative;
}
.sub-header h1 {
    color: #031d42;
    float: left;
    font-size: 2.2rem;
    font-weight: 500;
    margin: 0 45px 0 0;
}
.breadcrumb {
    list-style-type: none;
    margin: 6px 0 0;
    padding: 0;
}
.breadcrumb li {
    display: inline-block;
    float: left;
}
.breadcrumb li a {
    display: inline-block;
    color: #1f6cb9;
    font-style: italic;
    background-color: #e7f7ff;
    border-radius: 3px;
    padding: 6px 5px;
}
.breadcrumb > li + li:before {
    content: "\003e";
    padding: 0 5px;
    color: #a4cbec;
}
.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}
.pagination {
    list-style-type: none;
    margin: 25px 0 0;
    padding: 0;
    color: #a7a7a7;
}
.pagination > li {
    display: inline-block;
    float: left;
    margin-bottom: 10px;
}
.pagination > li + li {
    margin-left: 6px;
}
.pagination > li > a {
    display: inline-block;
    color: #a7a7a7;
    background-color: #eeeeee;
    border-radius: 3px;
    padding: 7px 8px;
}
.pagination > li > a:hover,
.pagination > li.active > a{
    background-color: #9dcd10;
    color: #ffffff;
}
.fa.earned {
    color: #ffc500;
}
textarea {
    height: auto;
    resize: vertical;
}
.theme-input {
    vertical-align: middle;
    display: block;
    width: 100%;
    height: 31px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #f6fdff;
    border: 1px solid #aed1e9;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px #cae7f9;
    box-shadow: inset 0 1px 1px #cae7f9;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    margin-bottom: 15px;
}
.theme-input:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}
.theme-input::-webkit-input-placeholder {color:#4a8cb6; font-weight: 600;}
.theme-input::-moz-placeholder          {color:#4a8cb6; font-weight: 600;}/* Firefox 19+ */
.theme-input:-moz-placeholder           {color:#4a8cb6; font-weight: 600;}/* Firefox 18- */
.theme-input:-ms-input-placeholder      {color:#4a8cb6; font-weight: 600;}

.footer-twitter {
    background-color: #595959;
    border-top: 1px solid #4e4e4e;
    margin-top: 100px;
}
.footer-twitter-block {
    padding: 10px 0;
    line-height: 1.1rem;
}
.footer-twitter-block > * {
    display: inline-block;
    line-height: normal;
    vertical-align: middle;
}
.footer-twitter-block i {
    color: #d5d5d5;
    font-size: 1.5rem;
}
.twitter-author {
    color: #9dcd10;
}
.twitter-text {
    color: #d2d2d2;
}
.author {
    font-size: 0.8rem;
    padding: 1px 0;
}
.author img {
    float: left;
    margin: 0 10px 0 0;
}
.author .author-name {
    color: #a3a3a3;
    margin-top: 5px;
}
.author .author-name > a {
    color: #1f6cb9;
    font-weight: 600;
}
.author .author-rating {
    color: #d6d6d6;
}
.badge {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.badge > li {
    display: inline-block;
    float: left;
    margin: 0 6px 6px 0;
}
.badge-primary {
    background-color: #f0f8fc;
    border-radius: 3px;
    color: #91b3c5;
    display: block;
    padding: 8px 10px;
}
.badge-success {
    background-color: #a5d714;
    border-radius: 3px;
    color: #ffffff;
    display: block;
    padding: 8px 10px;
}
.badge-hot {
    background-color: #F58700;
    border-radius: 3px;
    color: #ffffff;
    display: block;
    padding: 8px 10px;
}
.friends-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.friends-list > li {
    display: inline-block;
    float: left;
    margin: 0 3px 3px 0;
}
.friends-list > li > img {
    height: 60px;
    width: 60px;
}

.member-like:hover > * {
    color: #ff2a5a;
}
.member-address,
.member-send-message,
.member-like {
    text-align: center;
}
.member-address span,
.member-send-message span,
.member-like span {
    color: #1f6cb9;
    font-weight: 600;
    vertical-align: middle;
}
.member-address i,
.member-send-message i,
.member-like i {
    color: #cee8f5;
    font-size: 1.5rem;
    vertical-align: middle;
    margin-right: 7px;
}
.member-like.liked i,
.member-like.liked span {
    color: #ff2a5a;
}

.follow button {
    color: #a7a7a7;
    background-color: #eeeeee;
    padding: 5px 18px;
    border: 0;
    border-radius: 3px;
}
.follow button i {
    display: none;
}
.follow button:hover,
.follow .active,
.follow.followed button {
    background-color: #9ece10;
    color: #ffffff;
}
.follow button:hover > i,
.follow .active > i,
.follow.followed button > i {
    display: inline-block;
}

.notifications {
    border: 1px solid transparent;
    border-radius: 4px;
    display: none;
    padding: 15px;
    position: fixed;
    right: 25px;
    top: 25px;
    z-index: 5;
}
.notifications:hover {
    cursor: pointer;
}
.notifications.error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
.notifications.success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.notifications.info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}
.notifications.warn {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}
span.validateError {
    color: #a94442;
    position: absolute;
    bottom: 0;
    left: 18px;
}

/**
 * Media queries
 */

@media (max-width: 767px) {
    .sub-header h1 {
        margin-bottom: 15px;
    }
    .sub-header nav {
        clear: both;
    }
    .breadcrumb li {
        margin-bottom: 10px;
    }
    .theme-label label {
        margin-bottom: 0;
        padding: 0;
    }
    .theme-input {
        margin-bottom: 15px;
    }
}
@media (min-width: 768px) {

}
@media (min-width: 992px) {

}
@media (min-width: 1200px) {

}