<section class="sub-header">
    <div class="container">
        <h1>Moscow, Russia</h1>
        <nav>
            <ol class="breadcrumb">
                <li><a href="/" target="_self">Index</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/blog/1">Moscow, Russia</a></li>
            </ol>
        </nav>
        <div class="clearfix hidden-lg hidden-md"></div>
        <div class="next-city">
            <a href="/">
                <img src="../img/blog-article-city.jpg" alt=""/>
                New York
                <span>&#62;</span>
            </a>
        </div>
    </div>
</section>

<section class="article-banner">
    <a href="/">
        <img src="../img/blog-article.jpg" class="img-responsive" alt="article banner"/>
        <div class="preview">
            <div class="container">
                <h3>Moscow, Russia</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    A at dolores est magni maiores, nisi perspiciatis quibusdam sunt
                    tempore voluptate? Amet cupiditate deserunt fugit in incidunt
                    omnis perferendis, voluptates? Animi?
                </p>
            </div>
        </div>
    </a>
</section>

<section class="article-content">
    <div class="container">
        <div class="row">
            <main class="col-lg-12 col-md-10">
                <div class="article-text">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean pellentesque, ante non varius rhoncus, arcu diam pretium quam, at elementum nisl lacus nec sem. Nam sollicitudin, neque ut convallis gravida, magna eros luctus magna, sit amet commodo nisi eros vitae urna. In auctor nec nunc id blandit. Nulla ligula lectus, posuere non erat eu, volutpat aliquet lacus. Nam vel malesuada arcu, a venenatis elit. Suspendisse potenti. Phasellus mauris magna, tincidunt vel ipsum quis, malesuada iaculis magna. Curabitur in ipsum at eros hendrerit fringilla nec nec ligula. Nunc augue tortor, tincidunt non sapien sit amet, sodales lobortis mi. Nulla consequat ligula sit amet quam ultricies tempus. Etiam malesuada arcu dolor, eu placerat nunc pellentesque id. Nulla sagittis interdum libero.
                    </p>

                    <h3>Lorem ipsum dolor sit amet</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean pellentesque, ante non varius rhoncus, arcu diam pretium quam, at elementum nisl lacus nec sem. Nam sollicitudin, neque ut convallis gravida, magna eros luctus magna, sit amet commodo nisi eros vitae urna. In auctor nec nunc id blandit. Nulla ligula lectus, posuere non erat eu, volutpat aliquet lacus. Nam vel malesuada arcu, a venenatis elit. Suspendisse potenti. Phasellus mauris magna, tincidunt vel ipsum quis, malesuada iaculis magna. Curabitur in ipsum at eros hendrerit fringilla nec nec ligula. Nunc augue tortor, tincidunt non sapien sit amet, sodales lobortis mi. Nulla consequat ligula sit amet quam ultricies tempus. Etiam malesuada arcu dolor, eu placerat nunc pellentesque id. Nulla sagittis interdum libero. Praesent congue ut lacus id condimentum. Integer ac ipsum erat.
                    </p>
                    <h3>Lorem ipsum dolor sit amet</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean pellentesque, ante non varius rhoncus, arcu diam pretium quam, at elementum nisl lacus nec sem. Nam sollicitudin, neque ut convallis gravida, magna eros luctus magna, sit amet commodo nisi eros vitae urna. In auctor nec nunc id blandit. Nulla ligula lectus, posuere non erat eu, volutpat aliquet lacus. Nam vel malesuada arcu, a venenatis elit. Suspendisse potenti. Phasellus mauris magna, tincidunt vel ipsum quis, malesuada iaculis magna. Curabitur in ipsum at eros hendrerit fringilla nec nec ligula. Nunc augue tortor, tincidunt non sapien sit amet, sodales lobortis mi. Nulla consequat ligula sit amet quam ultricies tempus. Etiam malesuada arcu dolor, eu placerat nunc pellentesque id. Nulla sagittis interdum libero. Praesent congue ut lacus id condimentum. Integer ac ipsum erat. Nullam condimentum ex id nisl dignissim lacinia. Vestibulum eu risus eu nibh porttitor feugiat eu eu mi.
                    </p>

                    <div class="like">
                        <div class="heart">
                            <i class="fa fa-heart fa-2x"></i>
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque condimentum enim ullamcorper nunc eleifend, eget lacinia tellus molestie.
                        </p>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="article-tags">
                    <i class="fa fa-tags"></i>
                    <a href="/">Russia</a>,
                    <a href="/">Moscow</a>,
                    <a href="/">Travel</a>,
                    <a href="/">City</a>,
                    <a href="/">RUS</a>
                </div>
                <div class="article-comments">
                    <header>
                        <i class="fa fa-comments fa-2x"></i>
                        <h2>Comments</h2>
                    </header>
                    <div class="comment-body">
                        <div class="rate-comment">
                            <i class="fa fa-minus-square"></i>
                            <span class="positive">34</span>
                            <i class="fa fa-plus-square"></i>
                        </div>
                        <div class="author">
                            <img ng-src="{{ author.avatar }}" alt="post author"/>
                            <div class="author-name">Post by <a href="#">{{ author.name }}</a></div>
                            <div class="author-rating">
                                <i class="fa fa-star earned"></i>
                                <i class="fa fa-star earned"></i>
                                <i class="fa fa-star earned"></i>
                                <i class="fa fa-star earned"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>
                        <div class="comment-text">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse condimentum tempus purus, vel semper nisi.
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse condimentum tempus purus, vel semper nisi.
                            </p>
                        </div>
                        <div class="reply">
                            <span>Reply</span>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                    <div class="sub-comment comment-body">
                        <div class="rate-comment">
                            <i class="fa fa-minus-square"></i>
                            <span class="positive">34</span>
                            <i class="fa fa-plus-square"></i>
                        </div>
                        <div class="author">
                            <img ng-src="{{ author.avatar }}" alt="post author"/>
                            <div class="author-name">Post by <a href="#">{{ author.name }}</a></div>
                            <div class="author-rating">
                                <i class="fa fa-star earned"></i>
                                <i class="fa fa-star earned"></i>
                                <i class="fa fa-star earned"></i>
                                <i class="fa fa-star earned"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>
                        <div class="comment-text">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse condimentum tempus purus, vel semper nisi.
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse condimentum tempus purus, vel semper nisi.
                            </p>
                        </div>
                        <div class="reply">
                            <span>Reply</span>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                    <div class="comment-body">
                        <div class="rate-comment">
                            <i class="fa fa-minus-square"></i>
                            <span class="positive">34</span>
                            <i class="fa fa-plus-square"></i>
                        </div>
                        <div class="author">
                            <img ng-src="{{ author.avatar }}" alt="post author"/>
                            <div class="author-name">Post by <a href="#">{{ author.name }}</a></div>
                            <div class="author-rating">
                                <i class="fa fa-star earned"></i>
                                <i class="fa fa-star earned"></i>
                                <i class="fa fa-star earned"></i>
                                <i class="fa fa-star earned"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>
                        <div class="comment-text">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse condimentum tempus purus, vel semper nisi.
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse condimentum tempus purus, vel semper nisi.
                            </p>
                        </div>
                        <div class="reply">
                            <span>Reply</span>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="article-add-comment">
                    <header>
                        <h2>Add comment</h2>
                    </header>
                    <div class="form">
                        <form>
                            <div class="row">
                                <div class="col-lg-8">
                                    <div class="row">
                                        <div class="col-lg-4 theme-label">
                                            <label for="name">Name</label>
                                        </div>
                                        <div class="col-lg-12">
                                            <input id="name" type="text" class="theme-input" placeholder="Enter your name"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-8">
                                    <div class="row">
                                        <div class="col-lg-4 theme-label">
                                            <label for="email">E-mail</label>
                                        </div>
                                        <div class="col-lg-12">
                                            <input id="email" type="text" class="theme-input" placeholder="Enter your E-Mail"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-16">
                                    <div class="theme-label">
                                        <label for="text">Comment</label>
                                    </div>
                                    <textarea name="comment" id="text" cols="30" rows="5" class="theme-input" placeholder="Enter your comment"></textarea>
                                </div>
                            </div>
                            <button type="button" class="btn btn-hot">Send</button>
                        </form>
                    </div>
                </div>
            </main>
            <aside class="col-lg-4 col-md-6">
                <div class="author-card">
                    <div class="author">
                        <img ng-src="../img/blog-article-author-card.jpg" alt="post author" src="../img/blog-article-author.jpg">
                        <div class="author-name">Post by <a href="#" class="ng-binding">MatArt</a></div>
                        <div class="author-rating">
                            <i class="fa fa-star earned"></i>
                            <i class="fa fa-star earned"></i>
                            <i class="fa fa-star earned"></i>
                            <i class="fa fa-star earned"></i>
                            <i class="fa fa-star"></i>
                        </div>
                    </div>
                    <div class="author-stat">
                        <p>Blog - <span>233</span></p>
                        <p>Comments - <span>32 323</span></p>
                        <p>Countries - <span>12</span></p>
                    </div>
                    <div class="send-message">
                        <button class="btn btn-success">Send message</button>
                    </div>
                </div>

                <div class="other-author-posts">
                    <header>
                        <h2>Other Mattew posts</h2>
                    </header>
                    <div class="row">
                        <div class="blog-item-wrapper col-md-16 col-sm-8">
                            <div class="blog-item" ng-click="showAdditionalInfo($index)">
                                <div class="img">
                                    <img ng-src="../img/blog-item-img_2.png" alt="" class="img-responsive" src="../img/blog-item-img_2.png">
                                </div>
                                <div class="info">
                                    <h3 class="title">How to Capture the Moment</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur consequuntur debitis.</p>
                                </div>
                                <hr>
                                <div class="actions">
                                    <div class="views">
                                        <i class="fa fa-eye"></i>
                                        12222
                                    </div>
                                    <div class="comments">
                                        <i class="fa fa-comment"></i>
                                        <span>23 comments</span>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                        <div class="blog-item-wrapper col-md-16 col-sm-8">
                            <div class="blog-item" ng-click="showAdditionalInfo($index)">
                                <div class="img">
                                    <img ng-src="../img/blog-item-img_2.png" alt="" class="img-responsive" src="../img/blog-item-img_2.png">
                                </div>
                                <div class="info">
                                    <h3 class="title">How to Capture the Moment</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur consequuntur debitis.</p>
                                </div>
                                <hr>
                                <div class="actions">
                                    <div class="views">
                                        <i class="fa fa-eye"></i>
                                        12222
                                    </div>
                                    <div class="comments">
                                        <i class="fa fa-comment"></i>
                                        <span>23 comments</span>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </aside>
        </div>
    </div>
</section>