<section class="sub-header">
    <div class="container">
        <h1>Blog page</h1>
        <nav>
            <ol class="breadcrumb">
                <li><a href="/">Index</a></li>
                <li><a href="/blog">Blog</a></li>
            </ol>
        </nav>
    </div>
</section>

<section class="blog-banner">
    <a href="/"><img src="../img/blog-banner.png" alt="blog banner"/></a>
</section>

<section class="blog-content">
    <div class="blog-modal-wrapper" ng-click="hideAdditionalInfo()"></div>
    <div class="container">
        <div class="row">
            <main class="col-sm-12 col-xs-16">
                <div class="row blog-items-section">
                    <div class="col-md-5 col-sm-8" ng-repeat="item in blogItems">
                        <div class="blog-item {{ 'blog-item-' + $index }}" ng-click="showAdditionalInfo($index)">
                            <div class="img">
                                <img ng-src="{{ item.img }}" alt="" class="img-responsive"/>
                            </div>
                            <div class="info">
                                <h3 class="title">{{ item.title }}</h3>
                                <p>{{ item.text }}</p>
                            </div>
                            <hr/>
                            <div class="actions">
                                <div class="views">
                                    <i class="fa fa-eye"></i>
                                    {{ item.views }}
                                </div>
                                <div class="comments">
                                    <i class="fa fa-comment"></i>
                                    <span>{{ item.comments }} comments</span>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="additional-info">
                                <div class="read-more">
                                    <p>{{ item.moreInfo }}</p>
                                    <a href="/blog/1" class="btn btn-primary read-more-btn">Read more</a>
                                </div>
                                <div class="author">
                                    <img ng-src="{{ item.authorAvatar }}" alt="post author"/>
                                    <div class="author-name">Post by <a href="#">{{ item.author }}</a></div>
                                    <div class="author-rating">
                                        <i class="fa fa-star earned"></i>
                                        <i class="fa fa-star earned"></i>
                                        <i class="fa fa-star earned"></i>
                                        <i class="fa fa-star earned"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <nav class="col-lg-14 col-lg-offset-2 no-padding">
                    <ul class="pagination">
                        <li><a href="#">Previous</a></li>
                        <li><a href="#">01</a></li>
                        <li><a href="#">02</a></li>
                        <li class="active"><a href="#">03</a></li>
                        <li><a href="#">04</a></li>
                        <li><a href="#">05</a></li>
                        <li><a href="#">06</a></li>
                        <li><a href="#">07</a></li>
                        <li><a href="#">08</a></li>
                        <li><a href="#">Next</a></li>
                    </ul>
                </nav>
            </main>
            <aside class="col-sm-4 col-xs-16">
                <div class="categories">
                    <div class="header">
                        <h2>Categories</h2>
                    </div>
                    <div class="content">
                        <ul>
                            <li><a href="#">Amsterdam Hotels</a></li>
                            <li><a href="#">Atlanta Hotels</a></li>
                            <li><a href="#">Bandung Hotels</a></li>
                            <li><a href="#">Bangkok Hotels</a></li>
                            <li><a href="#">Barcelona Hotels</a></li>
                            <li><a href="#">Beijing Hotels</a></li>
                            <li><a href="#">Berlin Hotels</a></li>
                            <li><a href="#">Budapest Hotels</a></li>
                        </ul>
                    </div>
                </div>
                <div class="most-commented">
                    <div class="header">
                        <h2>Most Commented</h2>
                    </div>
                    <div class="content">
                        <div class="comment-item" ng-repeat="item in mostCommented">
                            <div class="row">
                                <div class="comment-counter col-md-4 col-sm-6 col-xs-6">
                                    <div>{{ item.counter }}</div>
                                </div>
                                <div class="comment-topic col-md-12 col-sm-10 col-xs-10">
                                    <h3 class="title">
                                        {{ item.title }}
                                    </h3>
                                    <div class="date">
                                        {{ item.date }}
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </aside>
        </div>
    </div>
</section>