<footer>
    <section class="footer-twitter" ng-if="!isMainPage()">
        <div class="container">
            <div class="footer-twitter-block">
                <i class="fa fa-twitter"></i>
                <span class="twitter-author">@matveyArt</span>
                <span class="twitter-text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo nulla optio tempora.
                </span>
            </div>
        </div>
    </section>
    <div class="container">
        <nav>
            <div class="logo">
                <a href="/">
                    <img src="img/footer-logo.png" alt="footer logo"/>
                    <span>Travel</span>
                    <span>Social</span>
                </a>
            </div>

            <div class="scroll-top">
                <a href="#" id="scroller" ng-click="scrollUp()"><i class="fa fa-chevron-up"></i></a>
            </div>

            <ul class="nav hidden-sm hidden-xs">
                <li ng-class="{ active: isActive('/') }"><a href="/">Index</a></li>
                <li ng-class="{ active: isActive('/blog') }"><a href="/blog">Blog</a></li>
                <li ng-class="{ active: isActive('/members') }"><a href="/members">Members</a></li>
                <li ng-class="{ active: isActive('/hot') }"><a href="/hot">Hot tours</a></li>
                <li ng-class="{ active: isActive('/companies') }"><a href="/companies">Companies</a></li>
            </ul>
        </nav>
    </div>
</footer>