<header ng-class="{ 'main-page': isMainPage() }" class="page-header">
<div id="notifications" class="notifications ng-cloak" ng-cloak ng-click="hideNotification()">
    <strong>{{ notificationStatus }}:</strong>
    {{ notificationText }}
</div>
<div class="container">
<nav>
    <div class="logo">
        <a href="/" ng-cloak class="ng-cloak" ng-if="isMainPage()">
            <img src="img/logo.png" alt="logo"/>
            <span class="hidden-sm hidden-xs" ng-if="!loggedIn">Travel</span>
            <span class="hidden-sm hidden-xs" ng-if="!loggedIn">Social</span>
        </a>
        <a href="/" ng-cloak class="ng-cloak" ng-if="!isMainPage()">
            <img src="img/logo.png" alt="logo"/>
        </a>
    </div>

    <div class="burger-menu hidden-lg hidden-md">
        <a href="#" class="open-menu" ng-class="{ 'offcanvas-menu-shown': offcanvasMenuIsShown }" ng-click="showOffCanvasMenu()">
            <span></span>
            <span></span>
            <span></span>
        </a>
        <a href="#" class="close-menu" ng-class="{ 'offcanvas-menu-shown': offcanvasMenuIsShown }" ng-click="hideOffCanvasMenu()">
            <span></span>
            <span></span>
            <span></span>
        </a>
    </div>

    <div class="header-authorization" ng-cloak class="ng-cloak" ng-if="!loggedIn && !isMainPage()">
        <a href="/" class="btn btn-success authorization-btn" id="authorization">
            <i class="fa fa-sign-in visible-xs-inline-block"></i>
            <span class="hidden-xs">Authorization</span>
        </a>
    </div>

    <div class="header-user-logout" ng-cloak class="ng-cloak" ng-if="loggedIn">
        <a href="#" class="btn btn-success authorization-btn" id="user-logout" ng-click="logOut(userId)">
            <i class="fa fa-sign-out"></i>
        </a>
    </div>

    <div class="header-user-profile" ng-cloak class="ng-cloak" ng-if="loggedIn">
        <a href="/profile/{{ userId }}" class="btn btn-success authorization-btn" id="user-profile">
            <i class="fa fa-user"></i>
        </a>
    </div>

    <div class="header-search hidden-xs">
        <input type="text" placeholder="Search..." id="header-search"/>
        <i class="fa fa-search search-btn"></i>
    </div>

    <ul class="nav hidden-sm hidden-xs">
        <li ng-class="{ active: isActive('/') }"><a href="/">Index</a></li>
        <li ng-class="{ active: isActive('/blog') }"><a href="/blog">Blog</a></li>
        <li ng-class="{ active: isActive('/members') }"><a href="/members">Members</a></li>
        <li ng-class="{ active: isActive('/hot') }"><a href="/hot">Hot tours</a></li>
        <li ng-class="{ active: isActive('/companies') }"><a href="/companies">Companies</a></li>
    </ul>
</nav>

<div class="slogan" ng-cloak class="ng-cloak" ng-if="isMainPage()">
    <h1>
        Buy the best tickets, travel, share your <br/>
        experiences with friends!
    </h1>
    <p ng-if="!loggedIn">
        To use all the features of the site, simply register
    </p>
    <div class="account-action" ng-if="!loggedIn">
        <div class="col-sm-8 col-xs-16">
            <button class="btn btn-primary btn-login" id="login">Log in</button>
            <div class="login-pop-up">
                <div class="login-form">
                    <form id="login-form">
                        <div class="col-sm-4 theme-label">
                            <label for="user-login">Email</label>
                        </div>

                        <div class="col-sm-12">
                            <input type="text" id="user-login" class="user-login theme-input" name="userLoginEmail"/>
                        </div>

                        <div class="col-sm-4 theme-label">
                            <label for="user-password">Password</label>
                        </div>

                        <div class="col-sm-12">
                            <input type="password" id="user-password" class="user-password theme-input" name="userLoginPassword"/>
                        </div>

                        <div class="col-sm-12 col-sm-offset-4">
                            <input type="checkbox" id="remember-user" class="remember-user"/>
                            <label for="remember-user" class="remember-user-label"></label>
                            <div class="theme-label">
                                <label for="remember-user"><span>Remember me</span></label>
                            </div>

                            <button type="submit" class="btn btn-hot" ng-click="login()">Enter</button>
                        </div>
                    </form>
                </div>
                <div class="social-authorization">
                    <div class="col-lg-16">
                        <p>Authorization from social network</p>

                        <div class="social-authorization-icons">
                            <a href="#"><img src="img/fb-ico.png" alt="facebook authorization"></a>
                            <a href="#"><img src="img/google-ico.png" alt="google+ authorization"></a>
                            <a href="#"><img src="img/twitter-ico.png" alt="twitter authorization"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-8 col-xs-16">
            <button class="btn btn-success btn-register" id="create-account">Create account</button>
            <div class="authorization-pop-up">
                <div class="authorization-form clearfix">
                    <form id="authorization-form">
                        <div class="clearfix first-step">
                            <div class="col-xs-4 theme-label">
                                <label for="user-first-name">First name</label>
                            </div>

                            <div class="col-xs-12">
                                <input type="text" id="user-first-name" class="user-first-name theme-input" name="userFirstName"/>
                            </div>

                            <div class="col-xs-4 theme-label">
                                <label for="user-last-name">Last name</label>
                            </div>

                            <div class="col-xs-12">
                                <input type="text" id="user-last-name" class="user-last-name theme-input" name="userLastName"/>
                            </div>

                            <div class="col-xs-4 theme-label">
                                <label for="user-email">E-mail</label>
                            </div>

                            <div class="col-xs-12">
                                <input type="email" id="user-email" class="user-email theme-input" name="userEmail"/>
                            </div>

                            <div class="col-xs-4 theme-label">
                                <label for="user-country">Country</label>
                            </div>

                            <div class="col-xs-12">
                                <input type="text" id="user-country" class="user-country theme-input" name="userCountry"/>
                            </div>

                            <div class="col-xs-4 theme-label">
                                <label for="user-city">City</label>
                            </div>

                            <div class="col-xs-12">
                                <input type="text" id="user-city" class="user-city theme-input" name="userCity"/>
                            </div>

                            <div class="col-xs-4 theme-label">
                                <label for="user-password-create">Password</label>
                            </div>

                            <div class="col-xs-12">
                                <input type="password" id="user-password-create" class="user-password theme-input" name="userPassword"/>
                            </div>

                            <div class="col-xs-4 theme-label">
                                <label for="user-password-confirm">Confirm Password</label>
                            </div>

                            <div class="col-xs-12">
                                <input type="password" id="user-password-confirm" class="user-password-confirm theme-input" name="userPasswordConfirm"/>
                            </div>

                            <div class="col-xs-12 col-sm-offset-6 col-xs-offset-5">
                                <button type="submit" class="btn btn-hot" ng-click="checkAuthorizationForm()">{{ text }} Next</button>
                            </div>
                        </div>

                        <div class="clearfix second-step">
                            <div class="col-xs-16 theme-label">
                                <label>Choose your interests:</label>
                            </div>

                            <div class="col-xs-16">
                                <ul class="badge clearfix" id="user-interests">
                                    <li ng-repeat="item in interests">
                                        <input type="checkbox" id="{{ item.id }}"/>
                                        <label for="{{ item.id }}" class="badge-hot">{{ item.name }}</label>
                                    </li>
                                </ul>
                            </div>

                            <div class="col-xs-16">
                                <textarea id="user-about" class="theme-input" placeholder="Describe yourself" cols="30" rows="6"></textarea>
                            </div>

                            <div class="col-xs-12 col-sm-offset-3 col-xs-offset-5">
                                <button type="button" class="btn btn-primary" ng-click="showFirstAuthStep()">Back</button>
                                <button type="button" class="btn btn-success" ng-click="authorization()">Create account</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</header>