<section class="sub-header">
    <div class="container">
        <h1>Blog page</h1>
        <nav>
            <ol class="breadcrumb">
                <li><a href="/">Index</a></li>
                <li><a href="/members">Members</a></li>
            </ol>
        </nav>
    </div>
</section>

<section class="members">
    <div class="container">
        <ul class="col-xs-16 members-list">
            <li ng-repeat="item in members" class="{{ 'member-' + item.id }}">
                <div class="col-md-4 col-sm-8">
                    <div class="author" ng-click="showMemberPopup($index, item.id, item.currentPlaceLat, item.currentPlaceLng)">
                        <img ng-src="{{ item.avatar || '../img/members-author.png' }}" alt="{{ item.firstName }} {{ item.lastName }}">
                        <div class="author-name"><a href="#">{{ item.firstName }} {{ item.lastName }}</a> <span>({{ item.fromCity }})</span></div>
                        <div class="author-rating">
                            <!-- Do not insert any spaces between these two <i> elements -->
                            <!-- Because it will cause blank space between rating stars -->
                            <i class="fa fa-star earned" ng-repeat="stars in item.earnedStars"></i><i class="fa fa-star" ng-repeat="stars in item.blankStars"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-8 actions">
                    <div class="follow col-md-4" ng-class="{ followed: alreadyFollowed(item.followed) }" ng-click="followAction(item)">
                        <button class="btn"><i class="fa fa-check"></i> Follow</button>
                    </div>
                    <div class="member-address col-md-5">
                        <i class="fa fa-map-marker"></i>
                        <span>{{ item.currentPlace }}</span>
                    </div>
                    <div class="member-send-message col-md-4">
                        <i class="fa fa-commenting"></i>
                        <span class="hidden-md">Send message</span>
                    </div>
                    <div class="member-like col-md-3" ng-class="{ liked: alreadyLiked(item.liked) }" ng-click="likeAction(item)">
                        <i class="fa fa-heart"></i>
                        <span>{{ item.profileLikesCount }}</span>
                    </div>
                </div>
                <div class="col-xs-16 member-popup">
                    <div>
                        <div class="col-md-9">
                            <div class="about">
                                <header><h3>About</h3></header>
                                <p class="text">
                                    {{ item.aboutText }}
                                </p>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="col-sm-8">
                                <div class="interests">
                                    <header><h3>Interests</h3></header>
                                    <ul class="badge">
                                        <li ng-repeat="interest in item.userInterestsList">
                                            <a href="#" class="badge-primary">{{ interest }}</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="clearfix visible-xs"></div>
                            <div class="col-sm-8 no-padding-lg no-padding-md no-padding-sm">
                                <div class="friends">
                                    <header><h3>Friends</h3></header>
                                    <ul class="friends-list">
                                        <li><a href="#"><img src="../img/friend-1.png" alt=""/></a></li>
                                        <li><a href="#"><img src="../img/friend-2.png" alt=""/></a></li>
                                        <li><a href="#"><img src="../img/friend-3.png" alt=""/></a></li>
                                        <li><a href="#"><img src="../img/friend-4.png" alt=""/></a></li>
                                        <li><a href="#"><img src="../img/friend-5.png" alt=""/></a></li>
                                        <li><a href="#"><img src="../img/friend-6.png" alt=""/></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div id="{{ 'member-' + item.id + '-map' }}" class="member-map"></div>
                    <button class="get-in-profile btn btn-primary" ng-click="relocateToProfile(item.id)">
                        Get in profile
                    </button>
                </div>
                <div class="clearfix"></div>
            </li>
        </ul>
    </div>
</section>

<section>
    <div class="container">
        <nav class="col-lg-8 col-lg-offset-4">
            <uib-pagination total-items="usersAmount" ng-model="currentPage" max-size="5"
                            class="pagination-sm" boundary-links="false" boundary-link-numbers="true"
                            ng-change="loadPaginationPortion()" items-per-page="paginationLimit"></uib-pagination>
        </nav>
    </div>
</section>