<section class="sub-header">
    <div class="container">
        <h1>Blog page</h1>
        <nav>
            <ol class="breadcrumb">
                <li><a href="/">Index</a></li>
                <li><a href="/members">Members</a></li>
                <li><a href="/profile/{{ user.id }}">{{ user.firstName }} {{ user.lastName }}</a></li>
            </ol>
        </nav>
    </div>
</section>

<section class="member-profile">
    <div class="container">
        <div class="row">
            <aside class="photo col-md-5 col-sm-8 col-xs-16">
                <img class="img-responsive" ng-src="{{ user.photo || '../img/profile-without-photo.png' }}" alt="{{ user.firstName }} {{ user.lastName }}"/>
            </aside>
            <main class="col-md-7 col-sm-8 col-xs-16">
                <header>
                    <h2>{{ user.firstName }} {{ user.lastName }}</h2>
                    <div class="rating">
                        <!-- Do not insert any spaces between these two <i> elements -->
                        <!-- Because it will cause blank space between rating stars -->
                        <i class="fa fa-star earned" ng-repeat="stars in user.earnedStars"></i><i class="fa fa-star" ng-repeat="stars in user.blankStars"></i>
                    </div>
                    <div class="clearfix"></div>
                </header>
                <div class="row actions">
                    <div class="col-lg-6 member-address">
                        <i class="fa fa-map-marker"></i>
                        <span>{{ user.currentPlace }}</span>
                    </div>
                    <div class="col-lg-6 member-send-message">
                        <i class="fa fa-commenting"></i>
                        <span>Send message</span>
                    </div>
                    <div class="col-lg-3 member-like" ng-class="{ liked: alreadyLiked(user.liked) }" ng-click="likeAction(user)">
                        <i class="fa fa-heart"></i>
                        <span>{{ user.profileLikesCount }}</span>
                    </div>
                </div>
                <div class="about">
                    <header><h3>About</h3></header>
                    <p class="text">
                        {{ user.aboutText }}
                    </p>
                </div>
                <div class="interests">
                    <header>
                        <h3>Interests</h3>
                        <ul class="badge">
                            <li ng-repeat="item in user.interests">
                                <a class="badge-primary" href="#">{{ item }}</a>
                            </li>
                        </ul>
                    </header>
                </div>
            </main>
            <aside class="col-md-4 col-sm-16 col-xs-16">
                <div class="latest-tweet">
                    <header>
                        <h3>Latest tweet</h3>
                        <div class="tweet">
                            <div class="col-lg-4">
                                <i class="fa fa-twitter fa-2x"></i>
                            </div>
                            <div class="col-lg-12">
                                <span class="twitter-author">@matveyArt</span>
                                <span class="twitter-text">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo nulla optio tempora.
                                </span>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </header>
                </div>
                <div class="friends">
                    <header>
                        <h3>Friends</h3>
                    </header>
                    <ul class="friends-list">
                        <li><a href="#"><img src="../img/friend-1.png" alt="Frind"/></a></li>
                        <li><a href="#"><img src="../img/friend-2.png" alt="Friend"/></a></li>
                        <li><a href="#"><img src="../img/friend-3.png" alt="Friend"/></a></li>
                        <li><a href="#"><img src="../img/friend-4.png" alt="Frind"/></a></li>
                        <li><a href="#"><img src="../img/friend-5.png" alt="Friend"/></a></li>
                        <li><a href="#"><img src="../img/friend-6.png" alt="Friend"/></a></li>
                    </ul>
                </div>
            </aside>
        </div>
    </div>
</section>

<section class="member-profile-stat">
    <div class="container">
        <div class="row stat-data">
            <div class="col-sm-3">
                <header>
                    <h3>Traveller</h3>
                    <span>Visited {{ user.visitedCountriesCount }} countries</span>
                </header>
            </div>
            <div class="col-sm-3">
                <header>
                    <h3>Blogger</h3>
                    <span>Wrote {{ user.postsCount }} article(s)</span>
                </header>
            </div>
            <div class="col-sm-3">
                <header>
                    <h3>Comments</h3>
                    <span>Wrote {{ user.commentsCount }} comment(s)</span>
                </header>
            </div>
            <div class="col-sm-3">
                <header>
                    <h3>Favorite</h3>
                    <span>Have {{ user.profileFollowersCount }} follower(s)</span>
                </header>
            </div>
            <div class="col-sm-4">
                <div class="follow" ng-class="{ followed: alreadyFollowed(user.followed) }" ng-click="followAction(user)">
                    <header>
                        <button class="btn"><i class="fa fa-check"></i> Follow</button>
                    </header>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="member-profile-map">
    <header>
        <div class="container">
            <h3>Visited countries</h3>
        </div>
    </header>
    <div id="member-profile-map" class="member-profile-map-wrapper"></div>
</section>